
<div id="main"></div>

<script id="appViewTemplate" type="javascript/underscore">
	<div id="landing">
		<h1>Visualize your music</h1>
		<p>Start by searching for a track on Spotify:</p>
	  <form id="homepage-search">
	    <input id="songSearchInput-home" type="text" placeholder="Moonlight Sonata"></input>
	    <button> Search Song </button>
	  </form>
	</div>	
</script>

<script id="searchBarTemplate" type="javascript/underscore">
  <form id="homepage-search">
    <input id="songSearchInput" type="text" placeholder="Search Song..."></input>
    <button> Search Song </button>
  </form>
</script>

<script id="searchResultsTemplate" type="javascript/underscore">
	<h2 class="search-title">Search Results: </h2>
	<div id="searchResults">

	</div>
</script>

<script id="resultTemplate" type="javascript/underscore">
	<a class="result-name"></a>
</script>

<script id="snowflakeTemplate" type="javascript/underscore">
	<div id="mp3_player">
	  <div id="audio_box"></div>
	</div>
</script>

<script id="snowflakeCanvasTemplate" type="javascript/underscore">
	<canvas id="analyser_render" resize></canvas>
</script>

<script id="loadingTemplate" type="javascript/underscore">
	<div id="loader">
		LOADING
	</div>
</script>

<script id="trackInfoTemplate" type="javascript/underscore">
	<div id="track-info">
		<div id="track-details">
			<h3 class="track-name"></h3>
			<p class="track-artist"></p>
		</div>	

		<div id="visual-controls">
		</div>
	</div>
</script>

<script id="visualControlTemplate" type="javascript/underscore">
	<input type="radio" name="visual-buttons" id="snowflake-visual" checked="checked"><label for="snowflake-visual">Snowflake</label>
	<input type="radio" name="visual-buttons" id="wave-visual"><label for="wave-visual">Wave</label>
</script>

