<div id="main"></div>

<script id="appViewTemplate" type="javascript/underscore">
  <form>
    <input id="songSearchInput" type="text" placeholder="Search Soundcloud..."></input>
    <button> Search Song </button>
  </form>
</script>

<script id="searchResultsTemplate" type="javascript/underscore">
	<h2>Search Results: </h2>
	<div id="searchResults">

	</div>
</script>

<script id="resultTemplate" type="javascript/underscore">
	<a class="result-name"></a>
</script>

<script id="snowflakeTemplate" type="javascript/underscore">

	<div id="mp3_player">
		<canvas id="analyser_render"></canvas>
	  <div id="audio_box"></div>
	</div>
</script>