<div id="main"></div>

<div id="appViewTemplate">
	<nav id="global-nav">
	</nav>
</div>

<script id="sideBarViewTemplate" type="text/underscore">
		<h1>Soundflakes</h1>
		<ul>
			<%= link_to('root_path') do %>
				<li>Home</li>
			<% end %>
		</ul>
</script>