// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: 'Museo Sans', 'Helvetica', sans-serif;
	outline: none;
}

body {
	width: 100%;
	background: #222;
	&, a, a:hover {
		color: white;
	}

	input, button {
		border: 1px solid white;
		background: none;
		color: white;		
		transition: all 0.3s ease-in-out;
		padding: 10px;
	}
	input:focus {
		background: #333;
	}
	button {
		margin: 0;
		margin-left: 20px;
		padding: 5px 20px;
		min-width: 100px;
		&:hover {
			color: black;
			background: white;
		}
	}
}

#main {
	width: 80%;
	margin: 0 auto;
	.search-title {
		text-align: center;
	}
}

// Header

header {
	padding: 10px 20px;
	#logo {
		display: inline-block;
		cursor: pointer;
		padding: 5px;
	}

	#global-nav {
		display: inline-block;
		ul {
			list-style: none;
			a {
				display: inline-block;
				transition: border 0.3s ease-in;
				padding: 10px;
				border-bottom: 1px solid black;
				text-decoration: none;
				margin-right: 20px;

				&:hover {
					border-bottom: 1px solid red;
				}
			}
		}
	}

	#searchForm {
		display: inline-block;
		float: right;
		margin-top: 25px;
		margin-right: 20px;
		#songSearchInput {
			width: 200px;
		}
	}
}

// Footer

footer {
	position: fixed;
	z-index: 0;
	width: 100%;
	bottom: 0;
	background: #111;
	height: 34px;
}

// Landing Page
	
#landing {
	text-align: center;
	h1 {
		margin-top: 20%;
		font-size: 3rem;
		text-transform: uppercase;
	}
	
	p {
		margin: 20px;
	}

	input#songSearchInput-home {
		width: 300px;
	}
}

///////////////

div#mp3_player {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
	background: #111; 
	

	& > div > audio {
		width: 100%; 
		background: #111; 
	}
}

// Canvas
#analyser_render {
	height: 80vh;
  width: 80vw;
	margin: 0 auto;
	background: #222;
	border: 1px solid #333;
	margin-bottom: 50px;
}

// Results

.result-name {
	display: block;
	margin: 10px 0;
}



#searchResults {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 60px;
	a {
		max-width: 600px;
		padding: 20px 20px;
		margin: 20px auto;
		border: 1px solid white;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		&:hover {
			color: black;
			background: white;
		}
	}
}


// Loading Screen

// Track Info
 #track-info {
 	width: 100%;
 	min-height: 80px;

 	#track-details, #visual-controls {
 		display: inline-block;
 	}
	
	#track-details {
		h3, p {
			margin: 0;
		}
	}

	#visual-controls {
		float: right;
		margin-top: 10px;

		input[type='radio'] {
			display:none;
			& + label {
				min-width: 100px;
				border: 1px solid white;
				padding: 10px 20px;

				transition: all 0.3s ease-in-out;
			}

			&:checked + label {
				background: white;
				color: black;
			}
		}
	}
 }

// ANIMATIONS



////////////////
