// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	font-family: 'Museo Sans', 'Helvetica', sans-serif;
	color: white;
}

body {
	width: 100%;
	background: #111;
}

div#mp3_player {
	position: fixed;
	bottom: 0;

	width: 100%; 
	background: #111; 
	padding:5px; 
	margin: 0 auto;


	& > div > audio {
		width: 100%; 
		background: #111; 
	}

	& > canvas {
		height: 80vh;
    width: 80vw;
		margin: 0 auto;
	}
}

.result-name {
	display: block;
	margin: 10px 0;
}